.preloader-1 {
  margin: 0 auto;
  position:relative;
  margin-top: -12px;
  
  width: 70px;
  height: 12px;
  
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
}


.preloader-1 .line {
  width: 1px;
  height: 12px;
  background: black;
  margin: 0 1px;
  display: inline-block;
  animation: opacity-1 1000ms infinite ease-in-out;
}

.preloader-1 .line-1 { animation-delay: 800ms; }
.preloader-1 .line-2 { animation-delay: 600ms; }
.preloader-1 .line-3 { animation-delay: 400ms; }
.preloader-1 .line-4 { animation-delay: 200ms; }
.preloader-1 .line-6 { animation-delay: 200ms; }
.preloader-1 .line-7 { animation-delay: 400ms; }
.preloader-1 .line-8 { animation-delay: 600ms; }
.preloader-1 .line-9 { animation-delay: 800ms; }

.preloader-hide {
    display: none;
}

.notepage-container .preloader-1 {
 margin-top: -35px;
 height: 35px;
}


@keyframes opacity-1 { 
  0% { 
    opacity: 1;
  }
  50% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }  
}

@keyframes opacity-2 { 
  0% { 
    opacity: 1;
    height: 15px;
  }
  50% { 
    opacity: 0;
    height: 12px;
  }
  100% { 
    opacity: 1;
    height: 15px;
  }  
}